
.map{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:250px
}

.cityState {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
}
h1{
    font-size: 20px;
    padding: 30px 30px 10px 30px;
    display: block;
}

.createNew {
    width: 150px;
    font-size: 15px;
    margin-left: 30px;
    padding: 4px; 
   text-align: center;
    border-radius: 5px;
   margin-bottom: 50px;
   
}
.update{
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
    padding-top: 20px
}

.update *{
   
    background-color: black;
    padding: 4px; 
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.manageImg{
    height: 250px;
    width: 250px;
}

.imgclass{
    width: 250px
}

img{
    /* box-shadow: 3px; */
    height:100%;
    width:100%;
    
}

.outerDiv{
    width: 300px;
    display: inline-block;
   margin-left: 30px;
   margin-top: 50px
}