.booking-container{
    /* display: flex;
    flex-direction: column;
    align-items:center; */
}

.booking-sub-container{
   padding-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.manage-booking-h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.managebooking-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.managebooking-image{
    width: 100px;
    border-radius: 10px;
}

.managebooking-each-booking{
    border-bottom: 1px solid black;
}

