.logotitle {
    display:inline-flex;
    flex-direction: row;
    color:  rgb(230, 3, 60);
    padding-left: 10px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    padding-left: 5px;
}

.topbar{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.276);
}

ul {
    list-style-type: none;
    margin-top: 5px;
    
}

.top-right{
    padding-left: 0px;
    margin: 0px;
}

.profile-dropdown {
  left:0;
  
  border: 1px solid black;
  padding-left: 0px;
}

.profile-dropdown li {
    
    display: flex;
    font-size: 10px;
  text-align:right;
 padding-left: 0px;

}

.hidden {
    display:none
}

.profile-button{
    background: white;
    color:  rgb(230, 3, 60);
}
.profileButton{
    width: 50px;
    padding: 0px;
    margin-left: 0px;
    color:white;
    background-color: black;
    
}
.fa-user-circle{
    color:rgb(230, 3, 60);
   
}

.fa-house {
    color: rgb(230, 3, 60);
    margin-right: 5px;
    
}
.iconButton{
    background-color: white;
    width: 20px;
    
 

}
button {
    background-color:white;
    width: 60px;
    color:  rgb(230, 3, 60);
   
}



ul li {
   
    display: inline
}
.menu-right{
 
    display: inline-flex;
    justify-content: flex-end;
}
.ulClassName{
    right: 0;
    left: auto;
}
.test{
    right:0;
}