.logotitle {
    display:inline-flex;
    flex-direction: row;
    color:  rgb(168, 42, 100);
    padding-left: 10px;
    text-decoration: none;
    align-items: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    padding-left: 5px;
    color:  rgb(230, 3, 60);
}

.logo{
    width:50px
}

.topbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(6 45 70);
   
}


ul{
    list-style-type: none;
    margin-top: 5px;
   
    
}

.top-right{
    padding-left: 0px;
    margin: 0px;
}

.profile-dropdown {
  left:0;
  border: 1px solid black;
  padding-left: 0px;
 
}

.profile-dropdown li {
    
    display: flex;
    font-size: 10px;
  text-align:right;
 padding-left: 0px;
 height: fit-content;

}

.hidden {
    display:none
}

/* .profile-button{
    background: white;
    color:  rgb(230, 3, 60);
} */
.profileButton{
    width: 50px;
    padding: 0px;
    margin-left: 0px;
    color:white;
    background-color: black;
    
}

.profilebutton{
    background-color: rgb(168 42 100);
    border-radius: 15px;
    color:white;
    border: 1px solid  rgb(168 42 100);
  
}

.fa-user-circle{
    padding-left: 5px;
   
}


.iconButton{
    background-color: white;
    width: 20px;
   align-items: end;

    
 

}
button {
    background-color:white;
    width: 60px;
    color:  rgb(230, 3, 60);
    font-size: 10px;
   
}



ul li {
    display: inline;
    list-style-type: none;

}
.menu-right{
 
    display: inline-flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.profile-dropdown{
position:absolute;
   width:fit-content;
   margin-right: 50px;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 20px;
   height:fit-content;
   border: 1px solid rgba(0, 0, 0, 0.308);
   border-radius: 10px;
   box-shadow: 0 0 10px #0c0c0c;
   background-color: rgb(248, 242, 242);
   left: auto; 
   right: 0;
   padding-top: 20px;
}
.profile-dropdown li{
    list-style-type: none;
    position:relative;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
   
}


li {
    list-style-type: none;
    position:relative;
    height: 30px;
}

li:hover{
    background-color: white;
}

li a {
    font-size: 12px;
   
}
.menu-right  a{
   padding-top: 8px;
}

.abc button{
    background-color: rgb(6, 45, 70);
    color: white;
    width: 100%;
    border-radius: 3px;
   border-style: hidden;
}